body {
    background-color: $light-gray;
}

footer {
    background-color: $white;
    width: 100%;
    margin-top: 20px;
}

form {
    background-color: $mid-gray;
}

h1 {
    color: $pink;
    font-family: $play-font;
    font-size: 2em;
}

h5 {
    color: $black;
    font-family: $lato-font;
    font-size: 1.5em;
}

p {
    color: $black;
    font-family: $lato-font;
    font-size: 1em;
}

i {
    color: $gray;
    font-size: 2.5em;
}

.navbar-brand {
    color: $pink !important;
    font-family: $play-font;
    font-weight: bold;
    font-style: italic;
}

.nav-link {
    color: $black !important;
    font-family: $lato-font;
}

.active {
    background-color: $white;
}

.btn {
    color: $white;
    font-family: $lato-font;
    font-size: 1em;
    background-color: $pink;
    border: none;
}

.btn:hover {
    background-color: $light-pink;
}

.card {
    color: $black;
    font-family: $lato-font;
    font-size: 1em;
}

.btn-collapse {
    color: $pink;
    font-family: $lato-font;
    font-size: 0.7em;
    background-color: $white;
}

.btn-collapse:hover {
    color: $white;
}

.btn-active {
    color: $white;
    background-color: $pink;
    border-style: solid;
    border-width: 1px;
    border-color: $pink;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-inactive {
    color: $pink;
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    border-color: $pink;
    padding-left: 20px;
    padding-right: 20px;
}

/* Media rules */
@media (max-width: 767.98px) {
    .form-inline {
        display: none;
    }
    .row-700 {
        display: block;
    }
    .col-700 {
        padding-top: 40px;
    }
    .col-4 {
        max-width: 100%;
    }
    .col-8 {
        max-width: 100%;
    }
}

/* Font */
@font-face {
    font-family: lato;
    src: url("../fonts/Lato-Regular.ttf")
}